**/*.iml
**/.gradle
**/local.properties
**/.idea
**/.DS_Store
**/build
**/captures
**/.externalNativeBuild

*.iml
.gradle
gradle/
local.properties
.idea
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.directory
/release
vectors/.classpath
vectors/.project
vectors/.settings/org.eclipse.buildship.core.prefs
vectors/gradlew
vectors/gradlew.bat
