NumLayers                     : 4
NonHEVCBase                   : 0
ScalabilityMask1              : 0           # Multiview
ScalabilityMask2              : 1           # Scalable
ScalabilityMask3              : 0           # Auxiliary pictures
AdaptiveResolutionChange      : 0           # Resolution change frame (0: disable)
SkipPictureAtArcSwitch        : 0           # Code higher layer picture as skip at ARC switching (0: disable (default), 1: enable)
MaxTidRefPresentFlag          : 1           # max_tid_ref_present_flag (0=not present, 1=present(default))
CrossLayerPictureTypeAlignFlag: 1           # Picture type alignment across layers
CrossLayerIrapAlignFlag       : 1           # Align IRAP across layers
SEIDecodedPictureHash         : 1

#============= LAYER 0 ==================
QP0                           : 22
MaxTidIlRefPicsPlus10         : 1           # max_tid_il_ref_pics_plus1 for layer0
InternalBitDepth0             : 8           # codec operating bit-depth for layer 0

#============= LAYER 1 ==================
QP1                           : 20
InternalBitDepth1             : 8           # codec operating bit-depth for layer 1
NumSamplePredRefLayers1       : 1           # number of sample pred reference layers
SamplePredRefLayerIds1        : 0           # reference layer id
NumMotionPredRefLayers1       : 1           # number of motion pred reference layers
MotionPredRefLayerIds1        : 0           # reference layer id
NumActiveRefLayers1           : 1           # number of active reference layers
PredLayerIds1                 : 0           # inter-layer prediction layer index within available reference layers

#============= LAYER 2 ==================
QP2                           : 20
InternalBitDepth2             : 8           # codec operating bit-depth for layer 1
NumSamplePredRefLayers2       : 1           # number of sample pred reference layers
SamplePredRefLayerIds2        : 1           # reference layer id
NumMotionPredRefLayers2       : 2           # number of motion pred reference layers
MotionPredRefLayerIds2        : 0 1         # reference layer id
NumActiveRefLayers2           : 1           # number of active reference layers
PredLayerIds2                 : 0           # inter-layer prediction layer index within available reference layers

#============= LAYER 3 ==================
QP3                           : 20
InternalBitDepth3             : 8           # codec operating bit-depth for layer 1
NumSamplePredRefLayers3       : 2           # number of sample pred reference layers
SamplePredRefLayerIds3        : 0 2         # reference layer id
NumMotionPredRefLayers3       : 1           # number of motion pred reference layers
MotionPredRefLayerIds3        : 2           # reference layer id
NumActiveRefLayers3           : 1           # number of active reference layers
PredLayerIds3                 : 0           # inter-layer prediction layer index within available reference layers


NumLayerSets                  : 4           # Include default layer set, value of 0 not allowed
NumLayerInIdList1             : 2           # 0-th layer set is default, need not specify LayerSetLayerIdList0 or NumLayerInIdList0
LayerSetLayerIdList1          : 0 1
NumLayerInIdList2             : 3
LayerSetLayerIdList2          : 0 1 2
NumLayerInIdList3             : 4
LayerSetLayerIdList3          : 0 1 2 3

# all these parameters hardcoded
NumAddLayerSets                      : 0
NumOutputLayerSets                   : 4           # Include defualt OLS, value of 0 not allowed
DefaultTargetOutputLayerIdc          : 0
NumOutputLayersInOutputLayerSet      : 1 1 1          # The number of layers in the 0-th OLS should not be specified, 
# ListOfOutputLayers0 need not be specified
ListOfOutputLayers1	                 : 1
ListOfProfileTierLevelOls1           : 1 2
ListOfOutputLayers2	                 : 2
ListOfProfileTierLevelOls2           : 1 2 2
ListOfOutputLayers3	                 : 3
ListOfProfileTierLevelOls3           : 1 2 2 2
